{% extends 'base.html.twig' %}

{% block title %}Etudient{% endblock %}

{% block body %}
    <h1>Etudient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudient.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ etudient.prenom }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ etudient.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etudient_index') }}">back to list</a>

    <a href="{{ path('etudient_edit', {'id': etudient.id}) }}">edit</a>

    {{ include('etudient/_delete_form.html.twig') }}
{% endblock %}
